{
  "system": {
    "correlationId": "${headers.correlationId}"
  },
  "person": {
    "first_name": "${body['person']['first_name']}",
    "last_name": "${body['person']['last_name']}",
    "age": ${headers.personAgeHeader},
    "city": "${headers.personCityHeader}",
    "occupation": "${headers.personOccupationHeader}"
  }
}